body{
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
}

.header{
    text-align: center;
    background-color: lightgray;
    padding: 5px;
}

.topnav{
    background-color: #333;
    color: white;
    overflow: hidden;
    
}
.topnav a{
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.col{
    float: left;
    width: 31%;
    padding: 12px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

@media  screen and (max-width:600px) {
    .col{
        width: 96%;
    }
}