* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column{
    float: left;
    padding: 10px;
}

.column.side{
    width: 25%;
}

.column.middle{
    width: 50%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px){
    .column.side, .column.middle{
        width: 96%;
    }
}